#log{
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 16px;
}
#logBtn{
  aspect-ratio: 1 / 1;
  position: fixed;
  font-size: 32px;
  background-color: rgba(128,128,128,0.1);
  border-radius: 25%;
  bottom: 0;
  right: 0;
}
